@use "variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: $color-background;
  color: $color-text;
  font-family: $font-main;
}

img {
  display: block;
  max-width: 100%;
}

button,
input,
textarea {
  font: $font-main;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

a {
  color: $color-text;
  text-decoration: none;
}