// Colors
$color-background: #E7E3E0;
$color-dark-background: #29292B;

$color-text: #555253 ;
$color-light-text: #f4f1eb;

$color-muted: #77736c;
$color-input-background: #1E1E1E;
 


// Typography
$font-main: "Helvetica Neue", Helvetica, Arial, sans-serif;


// Spacing
$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 2rem;
$spacing-lg: 4rem;
$spacing-xl: 8rem; 


// Layout
$max-width: 1440px;
$border-width: 1px;